{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/contact.css') }}">
{% endblock %}

{% block body %}
<div id="container">
    <div id="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <p>Menu</p>
    </div>

    <nav>
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('folio') }}">PortFolio</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </nav>
</div>
<h2 class="col-3 mt-5 mr-2 text-right">Contact</h2>

<div id="contactForm" class="mt-4">
    {{ form_start(form) }}
    <div class="row d-flex justify-content-center">
        <div class="col-3">{{ form_row(form.name,{'label': 'Nom :'}) }}</div>
        <div class="col-3">{{ form_row(form.lastname,{'label': 'Prénom :'}) }}</div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-3">{{ form_row(form.phone,{'label': 'Numéro de téléphone :'}) }}</div>
        <div class="col-3">{{ form_row(form.email,{'label': 'Email :'}) }}</div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6">{{ form_row(form.description,{'label': 'Message :'}) }}</div>
    </div>
    {{ form_rest(form) }}
    <div class="form-group d-flex justify-content-center">

        <button class="btn btn-primary">Envoyer</button>
    </div>
    {{ form_end(form) }}



</div>

{% block javascripts %} {{ encore_entry_script_tags('js/app') }} {% endblock %}

{% endblock %}