{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/folio.css') }}">
{% endblock %}
{% block body %}
<div id="container">
    <div id="burger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <p>Menu</p>
    </div>

    <nav>
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('folio') }}">PortFolio</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </nav>
</div>
<div class="container">
    <h2>Mes Projets</h2>
    <div class="row flex">
        {% for property in properties %}
        <div class="col-3">
            <div class="card mb-4">
                {% if property.filename %}
                    <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top"
                        style="width: 100%; height: auto;">
                    {% endif %}
                <div class="card-body">
                    <a href="#">{{property.title}}</a>
                    <h5 class="card-title"></h5>
                        <p class="card-text">{{property.description}}</p>
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
</div>
{% block javascripts %} {{ encore_entry_script_tags('js/app') }} {% endblock %}
{% endblock %}